<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.myheart.community.mapper.WordExtMapper">
  <resultMap id="BaseResultMap" type="life.myheart.community.model.Word">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sensitive_words" jdbcType="VARCHAR" property="sensitiveWords" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>


  <select id="selectSearch" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from word
    <where>
      <if test="id != null and id != ''">
        and id like '%${id}%'
      </if>
      <if test="sensitiveword != null and sensitiveword != ''">
        and sensitive_words like '%${sensitiveword}%'
      </if>
    </where>
    limit #{offset},#{limit}
  </select>
  <select id="selectWordRelated" parameterType="java.lang.String" resultType="java.lang.Long">
    select count(*) from word
    <where>
      <if test="id != null and id != ''">
        and id like '%${id}%'
      </if>
      <if test="sensitiveword != null and sensitiveword != ''">
        and sensitive_words like '%${sensitiveword}%'
      </if>
    </where>
  </select>

</mapper>